@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World!

        <p>We are going to have an exciting sorting party.</p>
        <a asp-action="RsvpForm">Go to RSVP Form</a>
    </div>
</body>
</html>

